body{
	width: 100%;
	height: 100%;
	min-height: 550px; 
	background: url();
	overflow-x: hidden;
}

.nav{
	background-color: black;
	width: 100%;
	height: 68px;
	color: white;
	border-bottom: 1px solid #eee;
}

.logo{
	height: 68px;
	float: left;
	font-family: Flamenco;
	font-size: 24px;
	font-weight: 400;
}
.logo div{
	padding: 25px 25px 6px 25px;
	width: 270px;
}
.nav-menu{
	/*padding: 25px;*/
	width: 60%;
	text-align: right;
	height: 40px;
	display: inline-block;
	margin-left: 15%;
}

.nav-menu li{
	display: inline-block;
	width: 13%;
	text-align: center;
	padding: 25px 25px 0 0;
	height: 50px;
}
.nav-menu li:hover{
	border-bottom: 2px solid rgb(213, 114, 114);
}

section{
	width: 100%;
}

.top img{
	width: 100%;
	height: 450px;
}
.bottom{
	position: relative;
    background: #f4f4f4;
	width: 100%;
	text-align: center;
	height: 300px;
}
	
.contact-details{
	border-top: 2px solid #eee; 
}
.address{
	width: 100%;
	padding: 20px;
	float: left;
	color: black;
	text-align: left;
	line-height: 1.5em;
    height: 250px;
    border-bottom: 1px solid #eda;
	margin-bottom: 10px;
}
.contact-address, .name{
	display: inline-block;
	width: 34%;
	margin-left: 15%;
}
.contact-address, .name a{
	color: black;
}
.contact-form{
	padding: 40px 100px;
	text-align: center;
}
.contact-form input{
	width: 25%;
	margin: 5px 0;
	height: 40px;
	padding: 10px;
}
.contact-form input[type='textarea']{
	height: 80px;
}
#footer{
	position: relative;
	width: 100%;
	padding-bottom: 10px;
	text-align: center;
}
/*    Product Page     */
.expertise{
	padding: 10px;
	width: 100%;
	height: 950px;
}
.expertise > h1{
	margin-top: 30px;
	text-align: center;
	font-size: 28px;
}
.expertise h3{
	margin-left: 40px;
}
.expertise .product{
	width: 100%;
	height: 750px;
}
.expertise .product h5{
	margin-left: 65px;
}

.expertise .product li{
	width: 20%;
	height: 280px;
	float: left;
	background: #eee;
	text-align: center;
	margin: 2.5%;
}
.expertise .product-label{
	position: absolute;
	width: 20%;
	color: black;
	padding-top: 4px;
	/*margin-top: 250px;*/
}
.expertise .product li p{
	text-align: left;
	padding: 2px 8px;
}
.product-more{
	margin-top: -200px;
	color: white;
	width: 100%;
	background: rgb(134, 131, 131);
}


/*      Clients       */
.clients{
	height: 900px;
	width: 100%;
}
.client-logo li{
	width: 25%;
	text-align: center;
	height: 150px;
	font-size: 20px;
	font-weight: bold ;
	color: rgb(206,112,122);
	margin: 2% 4%;
	float: left;
}
.client-bar h1{
	text-align: center;
	margin: 50px;
}
.client-logo img{
	width: 215px;
	height: 85px;	
}
.client-logo li span{
	margin-top: 15px;
}

.about .content{
	margin: 10% 0;
}
.about h1{
	margin-top: 50px;
	text-align: center;
}
.about p{
	width: 70%;
	margin: 2% 15%;
}

.middle {
	position: absolute;
	z-index: 11;
	top: 28%;
	text-align: center;
	color: white;
}
.middle h1{
	text-align: center;
	font-size: 28px;
	color: rgba(0, 0, 0, 0.57);
}
.middle .button{
	color: white;
	padding: 8px 18px;
	font-size: 20px;
	background: teal;
	width: 20%;
	margin: auto;
	margin-top: 20px;
}
.lower {
	text-align: left;
	font-size: 20px;
	font-family: Ubuntu sans-serif;
	padding: 80px 100px;
}
.lower h1{
	text-align: center;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.57);
	margin-bottom: 20px;
}